#parent {
	display: flex;
	width: 100%;
	height: 93%;
}

#map {
	flex: 1;
	width: 40%;
}

#markerColors {
	max-width: 100%;
	max-height: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#clusterMarkers {
	margin-top: 10px;
}

#hucSearch {
	margin-top: 10px;
}

#searchTools {
	width: 550px;
}

#city {
	margin-bottom: 10px;
}

#download {
	margin-top: 10px;
}

.form-control {
	margin-bottom: 10px;
}

.select button {
	width: 100%;
	text-align: left;
}

.select .caret {
	position: absolute;
	right: 10px;
	margin-top: 10px;
}

.select:last-child>.btn {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.selected {
	padding-right: 10px;
}

.option {
	width: 100%;
}

.navbar {
    width: 100%;
}

#searchToolsHeader {
	margin: 5px auto;
	width: 50%;
}

#disclaimer {
	margin-right: 20px;
	margin-left: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}

#searchToolsHeaderContainer {
	text-align: center;
}

#searchToolsHeader {
	margin: auto;
}

#agencyTypeSelect {
	margin-bottom: 10px;
}